* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-color: rgb(48, 112, 54); */
    text-align: center;
    color: black;
    font-weight: bold;
}

h1 {
    color: goldenrod;
}


#message-el {
    font-style: italic;
}

button {
    background-color: goldenrod;
    width: 150px;
    color: #016f32;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 2px;
    border: none;
    border-radius: 2px;
    margin-bottom: 4px;
}